#main-canvas{
  background-color: white;
  box-shadow: 4px 4px 4px black;
}
.board{
  padding: 2%;
  padding-right: 0;
}

*{
  margin: 0;
  padding: 0;
  
}
body{
  background-color: #95F1F7;
}
.boton{
  width: 80%;
  background-color:#D9D9D9;
  border-radius: 8px;
  margin-bottom: 2%;
}
.limpiar{
  margin-top: 4%;
  margin-bottom: 4%;
  background-color:#D9D9D9;
  width: 30%;
  font-size: larger;
  border-radius: 8px;

}

.subir{
  background-color:#D9D9D9;
  border-radius: 8px;
  margin-bottom: 2%;
  margin-top: 4%;
  width: 30%;
  font-size: larger;
  border: 3px solid black;
}

.grosor img{
  width: 100%;
}
.opciones{
  width: 80%;
  border-radius: 5%;
  margin: auto;
  background-color: #A7A59A;
  margin-top: 12% ;
}
.color{
  width: 60px;
  height: 60px;
  margin-left: 2%;
  margin-bottom: 2%;
}
.botonColor{
  background-color: black;
}
.botonColor1{
  background-color: #611111;
}
.botonColor2{
  background-color: #FE2712;
}
.botonColor3{
  background-color: #FB9902;
}
.botonColor4{
  background-color: #FABC02;
}
.botonColor5{
  background-color: #FEFE33;
}
.botonColor6{
  background-color: #D0EA2B;
}
.botonColor7{
  background-color: #66B032;
}
.botonColor8{
  background-color: #0391CE;
}
.botonColor9{
  background-color: #0247FE;
}
.botonColor10{
  background-color: #3D01A4;
}
.botonColor11{
  background-color: #8601AF;
}
.botonColor12{
  background-color: #ffffff;
}
